<a href="https://colab.research.google.com/github/nise1301/NBA_stats/blob/main/NBA_EDA_AT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/Int_Ciencia_Dados/nba_stats.csv')

In [ ]:
df

,year,name,playerId,playerSlug,positionId,teamId,status,gamesPlayed,avgMinutes,avgFouls,...,position,birthdate,college,draftinfo,birthplace,team,htwt,experience,rankingSalary,salary
0,1999,Allen Iverson,366,allen-iverson,SG,PHI,inactive,48.0,41.458332,2.041667,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,15,"$9,000,000"
1,2000,Allen Iverson,366,allen-iverson,SG,PHI,inactive,70.0,40.757140,2.314286,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,27,"$10,125,000"
2,2001,Allen Iverson,366,allen-iverson,SG,PHI,inactive,71.0,41.957745,2.070423,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,17,"$11,250,000"
3,2002,Allen Iverson,366,allen-iverson,SG,PHI,inactive,60.0,43.700000,1.700000,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,14,"$12,375,000"
4,2003,Allen Iverson,366,allen-iverson,SG,PHI,inactive,82.0,42.500000,1.817073,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,11,"$13,500,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8157,2023,Peyton Watson,4576087,peyton-watson,F,DEN,active,23.0,8.086957,0.608696,...,Forward,9/11/2002 (20),UCLA,"2022: Rd 1, Pk 30 (OKC)","Long Beach, CA",Denver Nuggets,"6' 8"", 200 lbs",Rookie,277,"$2,303,520"
8158,2023,Josh Minott,4687718,josh-minott,F,MIN,active,15.0,6.400000,0.666667,...,Forward,7/25/2002 (20),Memphis,"2022: Rd 2, Pk 45 (CHA)","Boca Raton, FL",Minnesota Timberwolves,"6' 8"", 205 lbs",Rookie,332,"$1,719,864"
8159,2023,Dalen Terry,4433159,dalen-terry,F,CHI,active,38.0,5.631579,0.631579,...,Forward,7/12/2002 (20),Arizona,"2022: Rd 1, Pk 18 (CHI)","Phoenix, AZ",Chicago Bulls,"6' 7"", 200 lbs",Rookie,238,"$3,350,760"
8160,2023,Ryan Rollins,4591725,ryan-rollins,G,GS,active,12.0,5.166666,0.833333,...,Guard,7/3/2002 (21),Toledo,"2022: Rd 2, Pk 44 (ATL)","Macomb, MI",Golden State Warriors,"6' 3"", 180 lbs",Rookie,334,"$1,719,864"
8161,2023,Tyrese Martin,4397179,tyrese-martin,G,ATL,active,16.0,4.125000,0.125000,...,Guard,3/7/1999 (24),UConn,"2022: Rd 2, Pk 51 (GS)","Allentown, PA",Atlanta Hawks,"6' 6"", 215 lbs",Rookie,336,"$1,719,864"

In [ ]:
df.isnull().sum()

year                                   0
name                                   0
playerId                               0
playerSlug                             0
positionId                             6
teamId                                 0
status                                 0
gamesPlayed                            0
avgMinutes                             0
avgFouls                               0
flagrantFouls                          0
technicalFouls                         0
ejections                              0
doubleDouble                           0
tripleDouble                           0
minutes                                0
rebounds                               0
fouls                                  0
avgRebounds                            0
avgPoints                              0
avgFieldGoalsMade                      0
avgFieldGoalsAttempted                 0
fieldGoalPct                           0
avgThreePointFieldGoalsMade            0
avgThreePointFieldGoalsAttempted       0
threePointFieldGoalPct                 0
avgFreeThrowsMade                      0
avgFreeThrowsAttempted                 0
freeThrowPct                           0
avgAssists                             0
avgTurnovers                           0
points                                 0
fieldGoalsMade                         0
fieldGoalsAttempted                    0
threePointFieldGoalsMade               0
threePointFieldGoalsAttempted          0
freeThrowsMade                         0
freeThrowsAttempted                    0
assists                                0
turnovers                              0
avgSteals                              0
avgBlocks                              0
steals                                 0
blocks                                 0
position                               0
birthdate                              0
college                             1412
draftinfo                           1185
birthplace                           215
team                                5858
htwt                                5858
experience                          5858
rankingSalary                          0
salary                                 0
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
def rename_and_translate_columns(df):
    # Dicionário de mapeamento de colunas originais para nomes em português
    column_mapping = {
        'year': 'ano',
        'name': 'nome',
        'playerId': 'id_jogador',
        'playerSlug': 'slug_jogador',
        'positionId': 'id_posicao',
        'teamId': 'id_time',
        'status': 'status',
        'gamesPlayed': 'jogos_jogados',
        'avgMinutes': 'media_minutos',
        'avgFouls': 'media_faltas',
        'flagrantFouls': 'faltas_flagrantes',
        'technicalFouls': 'faltas_tecnicas',
        'ejections': 'ejeções',
        'doubleDouble': 'double_double',
        'tripleDouble': 'triple_double',
        'minutes': 'minutos',
        'rebounds': 'rebotes',
        'fouls': 'faltas',
        'avgRebounds': 'media_rebotes',
        'avgPoints': 'media_pontos',
        'avgFieldGoalsMade': 'media_cestas_feitas',
        'avgFieldGoalsAttempted': 'media_cestas_tentadas',
        'fieldGoalPct': 'percentual_cestas',
        'avgThreePointFieldGoalsMade': 'media_cestas_3pt_feitas',
        'avgThreePointFieldGoalsAttempted': 'media_cestas_3pt_tentadas',
        'threePointFieldGoalPct': 'percentual_cestas_3pt',
        'avgFreeThrowsMade': 'media_lances_livres_feitos',
        'avgFreeThrowsAttempted': 'media_lances_livres_tentados',
        'freeThrowPct': 'percentual_lances_livres',
        'avgAssists': 'media_assistencias',
        'avgTurnovers': 'media_turnovers',
        'points': 'pontos',
        'fieldGoalsMade': 'cestas_feitas',
        'fieldGoalsAttempted': 'cestas_tentadas',
        'threePointFieldGoalsMade': 'cestas_3pt_feitas',
        'threePointFieldGoalsAttempted': 'cestas_3pt_tentadas',
        'freeThrowsMade': 'lances_livres_feitos',
        'freeThrowsAttempted': 'lances_livres_tentados',
        'assists': 'assistencias',
        'turnovers': 'turnovers',
        'avgSteals': 'media_roubos',
        'avgBlocks': 'media_bloqueios',
        'steals': 'roubos',
        'blocks': 'bloqueios',
        'position': 'posicao',
        'birthdate': 'data_nascimento',
        'college': 'universidade',
        'draftinfo': 'informacoes_draft',
        'birthplace': 'local_nascimento',
        'team': 'time',
        'htwt': 'altura_peso',
        'experience': 'experiencia',
        'rankingSalary': 'ranking_salario',
        'salary': 'salario'
    }

    # Renomear as colunas
    df_renamed = df.rename(columns=column_mapping)

    return df_renamed

In [ ]:
df = rename_and_translate_columns(df)

In [ ]:
df

,ano,nome,id_jogador,slug_jogador,id_posicao,id_time,status,jogos_jogados,media_minutos,media_faltas,...,posicao,data_nascimento,universidade,informacoes_draft,local_nascimento,time,altura_peso,experiencia,ranking_salario,salario
0,1999,Allen Iverson,366,allen-iverson,SG,PHI,inactive,48.0,41.458332,2.041667,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,15,"$9,000,000"
1,2000,Allen Iverson,366,allen-iverson,SG,PHI,inactive,70.0,40.757140,2.314286,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,27,"$10,125,000"
2,2001,Allen Iverson,366,allen-iverson,SG,PHI,inactive,71.0,41.957745,2.070423,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,17,"$11,250,000"
3,2002,Allen Iverson,366,allen-iverson,SG,PHI,inactive,60.0,43.700000,1.700000,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,14,"$12,375,000"
4,2003,Allen Iverson,366,allen-iverson,SG,PHI,inactive,82.0,42.500000,1.817073,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,11,"$13,500,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8157,2023,Peyton Watson,4576087,peyton-watson,F,DEN,active,23.0,8.086957,0.608696,...,Forward,9/11/2002 (20),UCLA,"2022: Rd 1, Pk 30 (OKC)","Long Beach, CA",Denver Nuggets,"6' 8"", 200 lbs",Rookie,277,"$2,303,520"
8158,2023,Josh Minott,4687718,josh-minott,F,MIN,active,15.0,6.400000,0.666667,...,Forward,7/25/2002 (20),Memphis,"2022: Rd 2, Pk 45 (CHA)","Boca Raton, FL",Minnesota Timberwolves,"6' 8"", 205 lbs",Rookie,332,"$1,719,864"
8159,2023,Dalen Terry,4433159,dalen-terry,F,CHI,active,38.0,5.631579,0.631579,...,Forward,7/12/2002 (20),Arizona,"2022: Rd 1, Pk 18 (CHI)","Phoenix, AZ",Chicago Bulls,"6' 7"", 200 lbs",Rookie,238,"$3,350,760"
8160,2023,Ryan Rollins,4591725,ryan-rollins,G,GS,active,12.0,5.166666,0.833333,...,Guard,7/3/2002 (21),Toledo,"2022: Rd 2, Pk 44 (ATL)","Macomb, MI",Golden State Warriors,"6' 3"", 180 lbs",Rookie,334,"$1,719,864"
8161,2023,Tyrese Martin,4397179,tyrese-martin,G,ATL,active,16.0,4.125000,0.125000,...,Guard,3/7/1999 (24),UConn,"2022: Rd 2, Pk 51 (GS)","Allentown, PA",Atlanta Hawks,"6' 6"", 215 lbs",Rookie,336,"$1,719,864"

### Colunas que precisam ser tratadas:

altura_peso: separar em duas colunas diferentes

salario: tirar o cifrão, colocar . como separador e arredondar para int

In [ ]:
df.describe()

,ano,id_jogador,jogos_jogados,media_minutos,media_faltas,faltas_flagrantes,faltas_tecnicas,ejeções,double_double,triple_double,...,cestas_3pt_tentadas,lances_livres_feitos,lances_livres_tentados,assistencias,turnovers,media_roubos,media_bloqueios,roubos,bloqueios,ranking_salario
count,8162.000000,8.162000e+03,8162.000000,8162.000000,8162.000000,8162.000000,8162.000000,8162.000000,8162.000000,8162.000000,...,8162.000000,8162.000000,8162.000000,8162.000000,8162.000000,8162.000000,8162.000000,8162.000000,8162.000000,8162.000000
mean,2012.214776,8.666390e+05,57.978804,22.519525,1.962077,0.297599,2.159642,0.145430,5.431144,0.172507,...,129.835212,110.210365,144.387405,133.548395,81.996815,0.706763,0.463943,44.879441,29.252022,210.610512
std,6.701035,1.517331e+06,21.756214,9.478818,0.750375,0.653207,3.217839,0.446963,10.202230,1.263530,...,142.367073,109.945917,137.447434,139.569406,63.099111,0.437720,0.486103,34.028145,34.792868,140.763132
min,1999.000000,2.000000e+00,1.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2007.000000,9.290000e+02,46.000000,15.097222,1.446808,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.000000,31.000000,44.250000,35.000000,33.000000,0.383562,0.147059,18.000000,7.000000,90.000000
50%,2013.000000,3.045500e+03,64.000000,22.769346,1.972222,0.000000,1.000000,0.000000,1.000000,0.000000,...,82.000000,77.000000,104.000000,88.000000,69.000000,0.634146,0.307692,39.000000,18.000000,192.000000
75%,2018.000000,2.451037e+06,76.000000,30.448024,2.486486,0.000000,3.000000,0.000000,6.000000,0.000000,...,218.000000,154.000000,203.000000,185.000000,118.000000,0.946429,0.597170,64.000000,38.000000,321.000000
max,2023.000000,4.997528e+06,85.000000,43.700000,6.000000,9.000000,41.000000,7.000000,69.000000,42.000000,...,1028.000000,756.000000,916.000000,925.000000,464.000000,2.885246,3.913044,225.000000,307.000000,676.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8162 entries, 0 to 8161
Data columns (total 54 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ano                           8162 non-null   int64
 1   nome                          8162 non-null   object
 2   id_jogador                    8162 non-null   int64
 3   slug_jogador                  8162 non-null   object
 4   id_posicao                    8156 non-null   object
 5   id_time                       8162 non-null   object
 6   status                        8162 non-null   object
 7   jogos_jogados                 8162 non-null   float64
 8   media_minutos                 8162 non-null   float64
 9   media_faltas                  8162 non-null   float64
 10  faltas_flagrantes             8162 non-null   float64
 11  faltas_tecnicas               8162 non-null   float64
 12  ejeções                       8162 non-null   float64
 13  double_double                 8162 non-null   float64
 14  triple_double                 8162 non-null   float64
 15  minutos                       8162 non-null   float64
 16  rebotes                       8162 non-null   float64
 17  faltas                        8162 non-null   float64
 18  media_rebotes                 8162 non-null   float64
 19  media_pontos                  8162 non-null   float64
 20  media_cestas_feitas           8162 non-null   float64
 21  media_cestas_tentadas         8162 non-null   float64
 22  percentual_cestas             8162 non-null   float64
 23  media_cestas_3pt_feitas       8162 non-null   float64
 24  media_cestas_3pt_tentadas     8162 non-null   float64
 25  percentual_cestas_3pt         8162 non-null   float64
 26  media_lances_livres_feitos    8162 non-null   float64
 27  media_lances_livres_tentados  8162 non-null   float64
 28  percentual_lances_livres      8162 non-null   float64
 29  media_assistencias            8162 non-null   float64
 30  media_turnovers               8162 non-null   float64
 31  pontos                        8162 non-null   float64
 32  cestas_feitas                 8162 non-null   float64
 33  cestas_tentadas               8162 non-null   float64
 34  cestas_3pt_feitas             8162 non-null   float64
 35  cestas_3pt_tentadas           8162 non-null   float64
 36  lances_livres_feitos          8162 non-null   float64
 37  lances_livres_tentados        8162 non-null   float64
 38  assistencias                  8162 non-null   float64
 39  turnovers                     8162 non-null   float64
 40  media_roubos                  8162 non-null   float64
 41  media_bloqueios               8162 non-null   float64
 42  roubos                        8162 non-null   float64
 43  bloqueios                     8162 non-null   float64
 44  posicao                       8162 non-null   object
 45  data_nascimento               8162 non-null   object
 46  universidade                  6750 non-null   object
 47  informacoes_draft             6977 non-null   object
 48  local_nascimento              7947 non-null   object
 49  time                          2304 non-null   object
 50  altura_peso                   2304 non-null   object
 51  experiencia                   2304 non-null   object
 52  ranking_salario               8162 non-null   int64
 53  salario                       8162 non-null   object
dtypes: float64(37), int64(3), object(14)
memory usage: 3.4+ MB

In [ ]:
df['altura_peso'].tail(20)

8142     6' 6", 175 lbs
8143     6' 8", 210 lbs
8144     6' 6", 220 lbs
8145     6' 4", 195 lbs
8146     6' 3", 198 lbs
8147     6' 7", 209 lbs
8148    6' 10", 220 lbs
8149     7' 0", 230 lbs
8150    6' 10", 205 lbs
8151     6' 7", 202 lbs
8152     6' 8", 185 lbs
8153     6' 5", 190 lbs
8154     6' 7", 235 lbs
8155     6' 7", 200 lbs
8156     6' 3", 181 lbs
8157     6' 8", 200 lbs
8158     6' 8", 205 lbs
8159     6' 7", 200 lbs
8160     6' 3", 180 lbs
8161     6' 6", 215 lbs
Name: altura_peso, dtype: object

In [ ]:
# Separar a coluna 'altura_peso' em 'altura' e 'peso'
df[['altura', 'peso']] = df['altura_peso'].str.split(', ', expand=True)

In [ ]:
# Exibir as novas colunas e as primeiras linhas do DataFrame
display(df[['altura_peso', 'altura', 'peso']].tail())

         altura_peso altura     peso
8157  6' 8", 200 lbs  6' 8"  200 lbs
8158  6' 8", 205 lbs  6' 8"  205 lbs
8159  6' 7", 200 lbs  6' 7"  200 lbs
8160  6' 3", 180 lbs  6' 3"  180 lbs
8161  6' 6", 215 lbs  6' 6"  215 lbs

In [ ]:
def clean_height_string(height_str):
    """
    Substitui aspas simples por pontos, remove aspas duplas e espaços após o ponto de uma string.

    Args:
        height_str (str): A string de altura a ser limpa.

    Returns:
        str: A string limpa.
    """
    if isinstance(height_str, str):
        cleaned_str = height_str.replace("'", ".").replace('"', '').replace('. ', '.')
        return cleaned_str
    else:
        return height_str # Retorna valores não string como estão

In [ ]:
df['altura_limpa'] = df['altura'].apply(clean_height_string)

In [ ]:
# Exibir as colunas original e limpa para comparação
display(df[['altura', 'altura_limpa']].tail())

     altura altura_limpa
8157  6' 8"          6.8
8158  6' 8"          6.8
8159  6' 7"          6.7
8160  6' 3"          6.3
8161  6' 6"          6.6

In [ ]:
def clean_weight_string(weight_str):
    """
    Remove ' lbs' de uma string de peso.

    Args:
        weight_str (str): A string de peso a ser limpa.

    Returns:
        str: A string limpa.
    """
    if isinstance(weight_str, str):
        return weight_str.replace(' lbs', '')
    else:
        return weight_str # Retorna valores não string como estão

df['peso_limpo'] = df['peso'].apply(clean_weight_string)

# Exibir as colunas original e limpa para comparação
display(df[['peso', 'peso_limpo']].tail())

         peso peso_limpo
8157  200 lbs        200
8158  205 lbs        205
8159  200 lbs        200
8160  180 lbs        180
8161  215 lbs        215

In [ ]:
df['altura_limpa'] = pd.to_numeric(df['altura_limpa'])

# Exibir os tipos de dados das colunas relevantes para confirmar a conversão
display(df[['altura', 'altura_limpa']].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8162 entries, 0 to 8161
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   altura        2304 non-null   object
 1   altura_limpa  2304 non-null   float64
dtypes: float64(1), object(1)
memory usage: 127.7+ KB

None

In [ ]:
df['peso_limpo'] = pd.to_numeric(df['peso_limpo']).astype('Int64') # Converter para numérico e depois para Int64

# Exibir os tipos de dados das colunas relevantes para confirmar a conversão
display(df[['peso', 'peso_limpo']].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8162 entries, 0 to 8161
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   peso        2304 non-null   object
 1   peso_limpo  2304 non-null   Int64
dtypes: Int64(1), object(1)
memory usage: 135.6+ KB

None

In [ ]:
display(df[['peso', 'peso_limpo']].tail())

         peso  peso_limpo
8157  200 lbs         200
8158  205 lbs         205
8159  200 lbs         200
8160  180 lbs         180
8161  215 lbs         215

In [ ]:
df

,ano,nome,id_jogador,slug_jogador,id_posicao,id_time,status,jogos_jogados,media_minutos,media_faltas,...,local_nascimento,time,altura_peso,experiencia,ranking_salario,salario,altura,peso,altura_limpa,peso_limpo
0,1999,Allen Iverson,366,allen-iverson,SG,PHI,inactive,48.0,41.458332,2.041667,...,"Hampton, VA",NaN,NaN,NaN,15,"$9,000,000",NaN,NaN,NaN,<NA>
1,2000,Allen Iverson,366,allen-iverson,SG,PHI,inactive,70.0,40.757140,2.314286,...,"Hampton, VA",NaN,NaN,NaN,27,"$10,125,000",NaN,NaN,NaN,<NA>
2,2001,Allen Iverson,366,allen-iverson,SG,PHI,inactive,71.0,41.957745,2.070423,...,"Hampton, VA",NaN,NaN,NaN,17,"$11,250,000",NaN,NaN,NaN,<NA>
3,2002,Allen Iverson,366,allen-iverson,SG,PHI,inactive,60.0,43.700000,1.700000,...,"Hampton, VA",NaN,NaN,NaN,14,"$12,375,000",NaN,NaN,NaN,<NA>
4,2003,Allen Iverson,366,allen-iverson,SG,PHI,inactive,82.0,42.500000,1.817073,...,"Hampton, VA",NaN,NaN,NaN,11,"$13,500,000",NaN,NaN,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8157,2023,Peyton Watson,4576087,peyton-watson,F,DEN,active,23.0,8.086957,0.608696,...,"Long Beach, CA",Denver Nuggets,"6' 8"", 200 lbs",Rookie,277,"$2,303,520","6' 8""",200 lbs,6.8,200
8158,2023,Josh Minott,4687718,josh-minott,F,MIN,active,15.0,6.400000,0.666667,...,"Boca Raton, FL",Minnesota Timberwolves,"6' 8"", 205 lbs",Rookie,332,"$1,719,864","6' 8""",205 lbs,6.8,205
8159,2023,Dalen Terry,4433159,dalen-terry,F,CHI,active,38.0,5.631579,0.631579,...,"Phoenix, AZ",Chicago Bulls,"6' 7"", 200 lbs",Rookie,238,"$3,350,760","6' 7""",200 lbs,6.7,200
8160,2023,Ryan Rollins,4591725,ryan-rollins,G,GS,active,12.0,5.166666,0.833333,...,"Macomb, MI",Golden State Warriors,"6' 3"", 180 lbs",Rookie,334,"$1,719,864","6' 3""",180 lbs,6.3,180
8161,2023,Tyrese Martin,4397179,tyrese-martin,G,ATL,active,16.0,4.125000,0.125000,...,"Allentown, PA",Atlanta Hawks,"6' 6"", 215 lbs",Rookie,336,"$1,719,864","6' 6""",215 lbs,6.6,215

In [ ]:
df = df.drop(['altura_peso', 'altura', 'peso'], axis=1)

# Exibir as colunas restantes para confirmar a remoção
display(df.tail())

,ano,nome,id_jogador,slug_jogador,id_posicao,id_time,status,jogos_jogados,media_minutos,media_faltas,...,data_nascimento,universidade,informacoes_draft,local_nascimento,time,experiencia,ranking_salario,salario,altura_limpa,peso_limpo
8157,2023,Peyton Watson,4576087,peyton-watson,F,DEN,active,23.0,8.086957,0.608696,...,9/11/2002 (20),UCLA,"2022: Rd 1, Pk 30 (OKC)","Long Beach, CA",Denver Nuggets,Rookie,277,"$2,303,520",6.8,200
8158,2023,Josh Minott,4687718,josh-minott,F,MIN,active,15.0,6.400000,0.666667,...,7/25/2002 (20),Memphis,"2022: Rd 2, Pk 45 (CHA)","Boca Raton, FL",Minnesota Timberwolves,Rookie,332,"$1,719,864",6.8,205
8159,2023,Dalen Terry,4433159,dalen-terry,F,CHI,active,38.0,5.631579,0.631579,...,7/12/2002 (20),Arizona,"2022: Rd 1, Pk 18 (CHI)","Phoenix, AZ",Chicago Bulls,Rookie,238,"$3,350,760",6.7,200
8160,2023,Ryan Rollins,4591725,ryan-rollins,G,GS,active,12.0,5.166666,0.833333,...,7/3/2002 (21),Toledo,"2022: Rd 2, Pk 44 (ATL)","Macomb, MI",Golden State Warriors,Rookie,334,"$1,719,864",6.3,180
8161,2023,Tyrese Martin,4397179,tyrese-martin,G,ATL,active,16.0,4.125000,0.125000,...,3/7/1999 (24),UConn,"2022: Rd 2, Pk 51 (GS)","Allentown, PA",Atlanta Hawks,Rookie,336,"$1,719,864",6.6,215

In [ ]:
# Remover o '$' e as vírgulas da coluna 'salario'
df['salario_limpo'] = df['salario'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).str.strip()

# Converter a coluna 'salario_limpo' para float
df['salario_limpo'] = pd.to_numeric(df['salario_limpo'])

# Exibir as colunas original e limpa para comparação e verificar o tipo de dado
display(df[['salario', 'salario_limpo']].tail())
display(df['salario_limpo'].info())

         salario  salario_limpo
8157  $2,303,520        2303520
8158  $1,719,864        1719864
8159  $3,350,760        3350760
8160  $1,719,864        1719864
8161  $1,719,864        1719864

<class 'pandas.core.series.Series'>
RangeIndex: 8162 entries, 0 to 8161
Series name: salario_limpo
Non-Null Count  Dtype
--------------  -----
8162 non-null   int64
dtypes: int64(1)
memory usage: 63.9 KB

None

In [ ]:
df = df.drop('salario', axis=1)
df

,ano,nome,id_jogador,slug_jogador,id_posicao,id_time,status,jogos_jogados,media_minutos,media_faltas,...,data_nascimento,universidade,informacoes_draft,local_nascimento,time,experiencia,ranking_salario,altura_limpa,peso_limpo,salario_limpo
0,1999,Allen Iverson,366,allen-iverson,SG,PHI,inactive,48.0,41.458332,2.041667,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,15,NaN,<NA>,9000000
1,2000,Allen Iverson,366,allen-iverson,SG,PHI,inactive,70.0,40.757140,2.314286,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,27,NaN,<NA>,10125000
2,2001,Allen Iverson,366,allen-iverson,SG,PHI,inactive,71.0,41.957745,2.070423,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,17,NaN,<NA>,11250000
3,2002,Allen Iverson,366,allen-iverson,SG,PHI,inactive,60.0,43.700000,1.700000,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,14,NaN,<NA>,12375000
4,2003,Allen Iverson,366,allen-iverson,SG,PHI,inactive,82.0,42.500000,1.817073,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,11,NaN,<NA>,13500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8157,2023,Peyton Watson,4576087,peyton-watson,F,DEN,active,23.0,8.086957,0.608696,...,9/11/2002 (20),UCLA,"2022: Rd 1, Pk 30 (OKC)","Long Beach, CA",Denver Nuggets,Rookie,277,6.8,200,2303520
8158,2023,Josh Minott,4687718,josh-minott,F,MIN,active,15.0,6.400000,0.666667,...,7/25/2002 (20),Memphis,"2022: Rd 2, Pk 45 (CHA)","Boca Raton, FL",Minnesota Timberwolves,Rookie,332,6.8,205,1719864
8159,2023,Dalen Terry,4433159,dalen-terry,F,CHI,active,38.0,5.631579,0.631579,...,7/12/2002 (20),Arizona,"2022: Rd 1, Pk 18 (CHI)","Phoenix, AZ",Chicago Bulls,Rookie,238,6.7,200,3350760
8160,2023,Ryan Rollins,4591725,ryan-rollins,G,GS,active,12.0,5.166666,0.833333,...,7/3/2002 (21),Toledo,"2022: Rd 2, Pk 44 (ATL)","Macomb, MI",Golden State Warriors,Rookie,334,6.3,180,1719864
8161,2023,Tyrese Martin,4397179,tyrese-martin,G,ATL,active,16.0,4.125000,0.125000,...,3/7/1999 (24),UConn,"2022: Rd 2, Pk 51 (GS)","Allentown, PA",Atlanta Hawks,Rookie,336,6.6,215,1719864

In [ ]:
# Filtrar nomes únicos de jogadores
df_unique_players = df[['nome']].drop_duplicates()
display(df_unique_players)

                     nome
0           Allen Iverson
12             Jason Kidd
24         Michael Finley
34           Chris Webber
42    Shareef Abdur-Rahim
...                   ...
8157        Peyton Watson
8158          Josh Minott
8159          Dalen Terry
8160         Ryan Rollins
8161        Tyrese Martin

[1646 rows x 1 columns]

In [ ]:
# Agrupar por ano e verificar a contagem de valores não nulos em 'altura_limpa'
altura_por_ano = df.groupby('ano')['altura_limpa'].count()

# Exibir a contagem de valores não nulos de altura por ano
display(altura_por_ano)

ano
1999      0
2000      0
2001      1
2002      1
2003      1
2004      1
2005      7
2006      8
2007     10
2008     14
2009     28
2010     40
2011     44
2012     34
2013     69
2014     92
2015    108
2016    128
2017    141
2018    177
2019    213
2020    240
2021    303
2022    358
2023    286
Name: altura_limpa, dtype: int64